{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminsignuppage</title>
    <!-- <link rel="stylesheet" href="{% static 'sundayschool/adminsignup.css' %}"> -->
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <div>{{ message}}</div>
                {% endfor %}
                {% endif %}
                {{ form.as_p }}
                <h4>signup here as an admin</h4>
                <label for="fullname">Fullname:</label>
                <input type="text" id="fullname">
                <label for="email">Email:</label>
                <input type="email" name="" id="email">
                <label for="password">Password</label>
                <input type="password" name="" id="password">
                <label for="username">Username:</label>
                <input type="text" name="" id="username">
                <button type="submit" id="signup">SignUp</button>
</form>

            </form>
           <div class="loginsec">
             <p>already have an account? <a href=""> LOGIN</a></p>
            </div>
        </div>
        <!-- <div class='logo'><img src="{% static 'sundayschool/rccg.jpg' %}" alt='logo'/><div> -->
    </div>
</body>
</html>