@tailwind base;
@tailwind components;
@tailwind utilities;


.rjs-cursor {
  width: 30%;
  height: 30%;
  position: fixed;      /* Fixed position.. */
  top: 0;               /* at the top left.. */
  left: 0;
  z-index: -1;      /* above everything else. */
  pointer-events: none; /* Cant't be clicked. */
  transition: 959ms;     /* Cursor is always accurate */
  opacity: 1;
  border: none;
  border-radius: 50%;
  /* filter: blur(10%); */
}

.rjs-cursor-icon {      /* Styling for the visible part */
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  background: linear-gradient(45deg, #0011ff,rgba(248, 80, 62, 0.5), #80FFEE);
  /* background-color: aqua; */
  mix-blend-mode: screen;
  filter: blur(79px);
  opacity: 0.7;
}

.rjs-cursor.rjs_cursor_visible { opacity: 1; }
.rjs-cursor.rjs_cursor_hidden { opacity: 0; }