body{
    background-color: #F7E2D9;
    margin: 0 ;
}
.container{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2%;
    /* justify-content: space-between; */
}


.rjs-cursor.rjs_cursor_visible { 
  opacity: 1; 
}
.rjs-cursor.rjs_cursor_hidden { 
  opacity: 0; 
}
.rjs-cursor {
  position: fixed;  
  background-color: red;          
  top: 0;                     
  left: 0;
  z-index: 999999;            
  pointer-events: none;    
  transition: none;        
  opacity: 0;  
}

.rjs-cursor-icon {        
  width: 12px;
  height: 12px;
  border-radius: 100%;    
  background-color: rgba(123, 123, 123, 0.7); 
}
/* * { cursor: none; } */
 
@media (pointer: none), (pointer: coarse) {
    #rjs_cursor, #rjs_cursor .rjs-cursor-icon { display: none !important; visibility: hidden; opacity: 0; }
 
    * { cursor: auto !important; }
}








a>p{
  --b: 0.1em;
  --c: #076ff7e7;
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
a>p:hover {
  --_p: 100%;

}
a>p::after{
  text-decoration: underline !important;
  color: blue;
}
/* h3 {
  font-family: system-ui, sans-serif;
  font-size: 3rem;
  margin:0;
  cursor: pointer;
  padding: 0 .1em;
} */
@keyframes myanimation {
  
}

.head{
    /* background-color: blue; */
    display: flex;
    margin: 0 auto;
    margin-top: 1%;
    justify-content: center;
    justify-items: center;

}
.header{
    /* background-color: blue; */
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header>h1{
    /* background-color: red; */
    font-stretch: ultra-expanded;
    margin: 0;
    font-size: 4em;
    /* z-index: -1; */
}
.children>a>p, .children>a>span {
    color: black;
    font-weight: lighter;
}
.children{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    /* height: 7em; */
    /* justify-content: space-between; */
    font-size: 0.8em;
    width: 45%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}
.children>a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 0.7em;
}

.arrow{
    /* background-color: red; */
    z-index: 1;
    margin-left: -4%;
    margin-top: 1%;
    padding: 0;
    height: 60%;
    width: 20%;
}
.navigation {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 20px 0;
    flex-direction: column;
  }
  
  .line {
    border-top: 1px solid black;
    width: 100%;
    /* margin: 20px 0; */
  }
  .navtexts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  
  
.navtexts a {
    text-decoration: none;
    color: black;
    width: 100%;
    margin-left: 0;
    animation: scroll-left 3s linear forwards;
    /* position: absolute; */
    /* left: 100%; */
  }
  
  .start-scroll {
    animation: scroll-left 10s linear forwards;
  }
  
  @keyframes scroll-left {
    from {
      margin-left: 0;
    }
    to {
        /* background-color: black; */
      margin-right: 0%;
    }
  }
/*   
  .navtexts a:nth-child(1) {
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  .navtexts a:nth-child(2) {
    animation-delay: 10s;
  } */
  

  
  .navtexts>a{
    text-decoration: none;
    color: black;
  }
  .body{
    /* background-color: blue; */
    text-align: center;
  }
  .quest{
    /* background-color: blue; */
    /* width: 100%; */
    /* margin-right: 25%; */
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 6%;
    margin-top: 6%;
  }
  .quest>.group>h1{
    font-size: 3.5em;
    margin: 0;
    /* background-color: aqua; */
    /* display: inline-block; */
    /* margin-left: 30%; */
  }
  .quest>.group>a{
    font: 0.8em;
    text-decoration: none;
    color: black;
    text-align: right;
    padding: 0;
    margin-top: 4%;
    float: right;
    border-bottom: 4px solid black !important;
  }
  .movieseg{
    /* background-color: red; */
    align-items: right;
    justify-content: right;
    /* height: 4em; */
    width: 100%;
    display: flex;
  }
  .movie1{
    height: 20em;
    width: 20em;
    background-color: blue;
    margin: 1%;
  }
  .movie2{
    height: 20em;
    width: 20em;
    background-color: black;
    margin-top: 8%;
    margin-right: 5%;
  }
  .movieseg>p{
    /* background-color: red; */
    width: 30%;
    font-size: 2em;
    display: flex;
    text-align: justify;
    margin: 2%;
  }
  .quest2{
    /* background-color: blue; */
    /* width: 100%; */
    /* margin-right: 25%; */
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 6%;
    margin-top: 6%;
    /* text-align: right; */
  }
  .quest2>.group>h1{
    font-size: 5em;
    margin: 0;
    /* background-color: aqua; */
  }
  .quest2>.group>a{
    margin-top: 4%;
    font: 0.8em;
    text-decoration: none;
    color: black;
    text-align: right;
    padding: 0;
    float: right;
    border-bottom: 4px solid black !important;
  }

  .group{
    /* background-color: red; */
    /* width: 50%; */
    margin: 0 auto;
  }